h1{ /* selects any h1 tag in the EJS file */
    color: red; /* sets the font color to red */
} /* closing the selector */
.completed{ /* targets any item with the CLASS of completed */
    color: gray; /* sets the font color to grey */
    text-decoration: line-through; /* applies a strikethrough styling to the text */
} /* closing the selector */